body {
    background-color: rgb(155, 155, 45);
    background-image: url('imagem/fundo.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background-color: #45a049;
}

div {
    text-align: center;
}

h2, p#resultado {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}
